*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{ 
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: #730202;
    height: 150px;
    position: relative;
    z-index: 1;
    width: 100vw;
    }
img{    
    width: 150px;
    height: 150px;
     }
h1{
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center; 
    
}
main{
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("../img/background.png");
    background-size: contain;
    
    

}
.button{
    min-width: 200px;    
    min-height: 200px;   
    border-radius: 15px; 
    background-color: #730202;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    
    i{
        font-size: 40px;
        margin-top: 10px;
    }
}

.form-label{
    color: #730202;
}

.form-control{
    border: solid 2px #730202;
}

/* Remove o padrão do navegador e adiciona uma borda personalizada */
.form-control:focus, textarea:focus, select:focus {
    outline: none; /* Remove o outline azul padrão */
    border: 2px solid #730202; /* Define nova cor de borda */
    box-shadow: 0 0 5px rgba(115, 2, 2, 0.5); /* Efeito de sombra (opcional) */
}
.button-register{
    background-color: #730202;
    color: white;
    width: 200px;
    border: 2px solid #000000;
    height: 45px;
    font-weight: 500;
    border-radius: 15px;
}
.button-register:hover{
    background-color: #7302027d;
    color: white;
    width: 200px;
    
 
}

.table-responsive{
    border:2px solid #730202;
    border-radius: 20px;
    
}
.header-color{
    color: #730202;
}
tbody tr td{
    color: #730202;
}
.button-edit-delete{
    color:#730202;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
}
.modal-edit{
    min-height: 500px;
    min-width: 400px;   
    border: 2px solid #730202;
    border-radius: 20px;   

   
    


}
footer{
        height:90px;
        background-color: #730202;
    }
h3{
    color: #730202;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 60px;
}
  
.modal-delete{
    min-height: 200px;
    min-width: 300px;
    border: 2px solid #730202;
    border-radius: 20px;

    p{
        color: #730202;
        text-align: center;
    }

}

.button-save{
    background-color: #730202;
    color: white;
    width: 200px;
    border: 2px solid #000000;
    height: 45px;
    font-weight: 500;
    border-radius: 15px;
}
.button-save:hover{
    background-color: #7302027d;
    color: white;
    width: 200px;

}
.button-cancel{
    width: 200px;
    height: 45px;
    background: transparent;
    color: #730202;
    font-weight: 500;
    border: 2px solid #730202;
    border-radius: 15px;
}
.button-cancel:hover{
     background-color: #7302021a;
}
@media(max-width:720px){
    img{
        
        position: absolute;
        width: 90px;
        height: 90px;
        left: 5%;
        top: 10px;                  
        z-index: 10;

    }
    .button{
        min-width: 150px;    
        min-height: 150px;   
        border-radius: 15px; 
        background-color: #730202;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        
        i{
            font-size: 30px;
            margin-top: 10px;
        }
        
    }
    
    
    


 


}
